.shadow
  .shadow-content
    .logo
    .shadow-heading <? echo $language['shadow-heading']; ?>
    .shadow-subheading <? echo $language['shadow-subheading']; ?>
.mobile
  .close(data-language!="common-mobile-close") <? echo $menu_item['common']['mobile']['close']; ?>
  .menu(data-language!="common-mobile-menu") <? echo $menu_item['common']['mobile']['menu']; ?>
aside
  nav
    ul.top-menu
      :php $i = 0;
      :php foreach($language['menu']['top'] as $menu_item):
      li.menu-item(class!="<? set((($menu_item['url'] == $page) || ($menu_item['url'] == '.' && $page == 'main')), true, 'current'); set($menu_item['icon'], true, ' icon'); ?>")
        :php if($menu_item["icon"]):
        .menu-icon(class!="<? set($menu_item['icon'], true); ?>")
        :php endif
        a.page-link(
          href!="<? echo $menu_item['url']; ?>"
          title!="<? echo $menu_item['title']; ?>"
          data-language!="menu-top-<? echo $i; ?>"
        )
          .heading(
            data-language!="menu-top-<? echo $i; ?>-heading"
          ) <? echo $menu_item['heading']; ?>
          .subheading(
            data-language!="menu-top-<? echo $i; ?>-subheading"
          ) <? echo $menu_item['subheading']; ?>
      :php $i++;
      :php endforeach
    ul.bottom-menu
      :php $i = 0;
      :php foreach($language['menu']['bottom'] as $menu_item):
      li.menu-item()
      li.menu-item(class!="<? set(($menu_item['url'] == $page), true, 'current'); ?>")
        a.page-link(
          href!="<? echo $menu_item['url']; ?>"
          title!="<? echo $menu_item['title']; ?>"
          data-language!="menu-bottom-<? echo $i; ?>"
        )
          .heading(data-language!="menu-bottom-<? echo $i; ?>-heading") <? echo $menu_item['heading']; ?>
      :php $i++;
      :php endforeach
    .language-menu
      ul.languages
        :php $i = 0;
        :php foreach($language['menu']['languages'] as $menu_item):
        li.menu-item
          a.language(
            class!="<? set(($menu_item['id'] == $_SESSION['language']), true, 'current'); ?>"
            href!=".?language=<? echo $menu_item['id']; ?>"
            title!="<? echo $menu_item['title']; ?>"
            data-language!="menu-languages-<? echo $i; ?>"
            data-set-language!="<? echo $menu_item['id']; ?>"
          ) <? echo $menu_item['heading']; ?>
        :php $i++;
        :php endforeach