:php session_start()  // Start session
:php require_once('/../php/language.php') // Detect active language
:php require_once('/../languages/'.$_SESSION['language'].'.php')  // Include active language

.page.accountant
  .page-content
    .page-heading
      .page-title(data-language="accountant-title")
        h1 <? echo $language['accountant-title']; ?>
      .page-image-block
        .page-image.accountant
    p.page-text(data-language="accountant-text") <? echo $language['accountant-text']; ?>
    .page-delimiter
    .services-block
      h2.block-title(data-language="accountant-services-title") <? echo $language['accountant-services-title']; ?>
      p.block-text(data-language="accountant-services-text") <? echo $language['accountant-services-text']; ?>
      ul.block-list.services
        <? $i = 0; ?>
        <? foreach($language['accountant-services'] as $service) { ?>
        li.list-item.service
          h3.list-item-text(
              data-language="accountant-services" 
              data-array!="<? echo $i; ?>"
            ) <? echo $service; ?>
        |  
        <? $i++; ?>
        <? }; ?>
    .calculator-block
      h2.block-title(data-language="accountant-calculator-title") <? echo $language['accountant-calculator-title']; ?>
      p.block-text(data-language="accountant-calculator-text") <? echo $language['accountant-calculator-text']; ?>
      form.calculator.accountant-calculator
        select.calculator-item.calculator-select.accountant-calculator-activity(
          data-affect="accountant-calculator-operations"
        )
          <? $i = 0; ?>
          <? foreach($language['accountant-calculator-activity'] as $activity) { ?>
          option(
            data-language="accountant-calculator-activity" 
            data-array!="<? echo $i; ?>"
            value!='<?=htmlspecialchars(json_encode($activity[data])); ?>'
          ) <? echo $activity['title']; ?>
          <? $i++; ?>
          <? }; ?>
        select.calculator-item.calculator-select.accountant-calculator-operations
          <? foreach($language['accountant-calculator-activity'][0]['data'] as $operations) { ?>
          option(
            value=''
            data-price!="<?=$operations['price']; ?>"
            data-prefix!="<?=$operations['prefix']; ?>"
            data-units!="<?=$operations['units']; ?>"
          ) <? echo $operations['title']; ?> 
          <? }; ?>
        .calculator-result-block
          p.result-text(data-language="accountant-calculator-result") <? echo $language['accountant-calculator-result']; ?>:
            span.result-prefix
            span.result-value
            span.result-units

