:php require_once('/../php/language.php') // Detect active language

.page.accountant
  .page-content
    .page-heading
      .page-title(data-language="accountant-title")
        h1 <? echo $language['accountant']['title']; ?>
      .page-image-block
        .page-image.accountant
    p.page-text(data-language="accountant-text") <? echo $language['accountant']['text']; ?>
    .page-delimiter
    .services-block
      h2.block-title(data-language="accountant-services-title") <? echo $language['accountant']['services']['title']; ?>
      p.block-text(data-language="accountant-services-text") <? echo $language['accountant']['services']['text']; ?>
      ul.block-list.services
        :php $i = 0;
        :php foreach($language['accountant']['services']['data'] as $service):
        li.list-item.service
          h3.list-item-text(
              data-language="accountant-services-data" 
              data-array!="<? echo $i; ?>"
            ) <? echo $service; ?>
        |  
        :php $i++;
        :php endforeach
    .calculator-block
      h2.block-title(data-language="accountant-calculator-title") <? echo $language['accountant']['calculator']['title']; ?>
      p.block-text(data-language="accountant-calculator-text") <? echo $language['accountant']['calculator']['text']; ?>
      form.calculator.accountant-calculator
        select.calculator-item.calculator-select.accountant-calculator-activity(
          data-affect="accountant-calculator-operations"
        )
          :php $i = 0;
          :php foreach($language['accountant']['calculator']['data'] as $activity):
          option(
            data-language="accountant-calculator" 
            data-array!="<? echo $i; ?>"
            data-item="title"
            value!="<?=htmlspecialchars(json_encode($activity['data'])); ?>"
          ) <? echo $activity['title']; ?>
          :php $i++;
          :php endforeach
        select.calculator-item.calculator-select.accountant-calculator-operations
          :php foreach($language['accountant']['calculator']['data']['0']['data'] as $operations):
          option(
            value=''
            data-price!="<? echo $operations['price']; ?>"
            data-prefix!="<? echo $operations['prefix']; ?>"
            data-units!="<? echo $operations['units']; ?>"
          ) <? echo $operations['title']; ?>
          :php endforeach
        .calculator-result-block
          p.result-text(data-language="accountant-calculator-result") <? echo $language['accountant']['calculator']['result']; ?>
            span.result-prefix
            span.result-value
            span.result-units

