:php if(!isset($language)) require_once('../php/language.php'); // Detect active language

.page.contacts
  .page-content
    .small-block.contacts-block
      h2.block-title(data-language="contacts-title") <? echo $language['contacts']['title']; ?>
      p.block-text(data-language="contacts-text") <? echo $language['contacts']['text']; ?>
      :php foreach($language['contacts']['phones'] as $phone):
      .contact.phone
        svg.icon
          use(xlink:href="#phone")
        a.phone-link(
          title!="<? echo $phone; ?>"
          href!="<? setLink($phone, 'phone'); ?>"
        ) <? echo $phone; ?>
      :php endforeach
      :php foreach($language['contacts']['emails'] as $email):
      .contact.email
        svg.icon
          use(xlink:href="#email")
        a.email-link(
          title!="<? echo $email; ?>"
          href!="<? setLink($email, 'email'); ?>"
        ) <? echo $email; ?>
      :php endforeach
      .contact.address
        svg.icon
          use(xlink:href="#pin")
        p.address(data-language="contacts-email") <? echo $language['contacts']['address']; ?>
      .map

    .small-block.send-block
      h2.block-title(data-language="contacts-form-title") <? echo $language['contacts']['form']['title']; ?>
      p.block-text(data-language="contacts-form-text") <? echo $language['contacts']['form']['text']; ?>
      form
        .input-wrap
          input(
            type="email"
            name="email"
            data-language="contacts-form-email"
            placeholder!="<? echo $language['contacts']['form']['email']; ?>"
          )
        .input-wrap
          input(
            type="text"
            name="title"
            data-language="contacts-form-subject"
            placeholder!="<? echo $language['contacts']['form']['subject']; ?>"
          )
        textarea.contacts-message(
          name="message"
          data-language="contacts-form-message"
          placeholder!="<? echo $language['contacts']['form']['message']; ?>"
        )
        button.call(data-language="common-send") <? echo $language['common']['send']; ?>