:php require_once('/../php/language.php') // Detect active language

.slider.main-slider(data-slider="main")
  :php $i = 0;
  :php foreach($language['main']['slider'] as $slide):
  .slide
    img.background(
      src!="<? echo $slide['background']; ?>"
      alt
    )
    .content(class!="slide-<? echo $i; ?>")
      .heading(
        data-language="main-slider"
        data-array!="<? echo $i; ?>"
        data-item="heading"
      ) <? echo $slide['heading']; ?>
      .subheading(
        data-language="main-slider"
        data-array!="<? echo $i; ?>"
        data-item="subheading"
      ) <? echo $slide['subheading']; ?>
      hr
      button.call Связаться
  :php $i++;
  :php endforeach
.slider-pager
  #bx-pager
    :php for($c = 0; $c < $i; $c++):
    a.slider-controll(
      data-slide-index!="<? echo $c; ?>"
      href=""
    )
    :php endfor
  .slider-runner

.page.main
  .page-content
    h1.main-title(data-language="main-about-title") <? echo $language['main']['about']['title']; ?>
    p.page-text(data-language="main-about-text") <? echo $language['main']['about']['text']; ?>
    .page-delimiter
    .advantages-block
      h2.advantages-title(data-language="main-advantages_title") <? echo $language['main']['advantages']['title']; ?>
      .advantages
        :php $i = 0;
        :php foreach($language['main']['advantages']['data'] as $advantage):
        .advantage
          .image(class!="<? echo $advantage['class']; ?>")
          h3(
            data-language="main-advantages-data"
            data-array!="<? echo $i; ?>"
            data-item="title"
          ) <? echo $advantage['title']; ?>
          p(
            data-language="main-advantages-data"
            data-array!="<? echo $i; ?>"
            data-item="text"
          ) <? echo $advantage['text']; ?>
        |  
        :php $i++;
        :php endforeach
      button.call(data-language="common-call") <? echo $language['common']['call']; ?>