:php if(!isset($language)) require_once('../php/language.php'); // Detect active language

.page.reviews
  .page-content
    .page-heading
      .page-title
        h1(data-language="reviews-title") <? echo $language['reviews']['title']; ?>

    .slider-wrap
      .slider.reviews-slider(data-slider="reviews")
        :php $i = 0;
        :php foreach($language['reviews']['slider'] as $slide):
        .slide
          .slide-content
            .review-heading
              .review-author(
                data-language!="reviews-slider-<? echo $i; ?>-author"
              ) <? echo $slide['author']; ?>
              .review-rate(class!="rate-<? echo $slide['rate']; ?>")
                svg.star
                  use(xlink:href="#star")
                svg.star
                  use(xlink:href="#star")
                svg.star
                  use(xlink:href="#star")
                svg.star
                  use(xlink:href="#star")
                svg.star
                  use(xlink:href="#star")
            .review-text(
                data-language!="reviews-slider-<? echo $i; ?>-text"
              ) <? echo $slide['text']; ?>
        :php $i++;
        :php endforeach
      .controls
        .arrow-left
          svg
            use(xlink:href="#arrow-left")
        .arrow-right
          svg
            use(xlink:href="#arrow-right")
    .page-delimiter
    .message-block
      h2.block-title(data-language="reviews-review-title") <? echo $language['reviews']['review']['title']; ?>
      p.block-text(data-language="reviews-review-text") <? echo $language['reviews']['review']['text']; ?>
      form.reviews-message.adaptive.mail-form(action='/php/mailer.php' type="post" name="reviews")
        .input-wrap
          input(
            type="text"
            name="name"
            data-language="reviews-review-name"
            placeholder!="<? echo $language['reviews']['review']['name']; ?>"
          )
        |  
        .input-wrap
          .rate
            .title(data-language="reviews-review-rate") <? echo $language['reviews']['review']['rate']; ?>
            .stars-wrap
              .stars
                :php for($i = 1; $i < 5; $i++):
                input(
                  id!="rate-<? echo $i; ?>"
                  type="radio"
                  name="rate"
                )
                label(for!="rate-<? echo $i; ?>")
                  svg
                    use(xlink:href="#star")
                :php endfor
                input(
                  id!="rate-5"
                  type="radio"
                  name="rate"
                  checked="checked"
                )
                label(for!="rate-5")
                  svg
                    use(xlink:href="#star")
        textarea.review-message(
          name="message"
          data-language="reviews-review-message"
          placeholder!="<? echo $language['reviews']['review']['message']; ?>"
        )
        button.call.right(
          type="submit"
          data-language="common-send"
        ) <? echo $language['common']['send']; ?>