:php if(!isset($language)) require_once('../php/language.php'); // Detect active language

.page.reviews
  .page-content
    .page-heading
      .page-title
        h1(data-language="reviews-title") <? echo $language['reviews']['title']; ?>

    .slider-wrap
      .slider.reviews-slider(data-slider="reviews")
        :php $i = 0;
        :php foreach($language['reviews']['slider'] as $slide):
        .slide
          .slide-content
            .review-heading
              .review-author(
                data-language!="reviews-slider-<? echo $i; ?>-author"
              ) <? echo $slide['author']; ?>
              .review-rate(class!="rate-<? echo $slide['rate']; ?>")
                svg.star
                  use(xlink:href="#star")
                svg.star
                  use(xlink:href="#star")
                svg.star
                  use(xlink:href="#star")
                svg.star
                  use(xlink:href="#star")
                svg.star
                  use(xlink:href="#star")
            .review-text(
                data-language!="reviews-slider-<? echo $i; ?>-text"
              ) <? echo $slide['text']; ?>
        :php $i++;
        :php endforeach
      .controls
        .arrow-left
          svg
            use(xlink:href="#arrow-left")
        .arrow-right
          svg
            use(xlink:href="#arrow-right")
    .page-delimiter
    .message-block
      h2.block-title(data-language="reviews-message-title") <? echo $language['reviews']['message']['title']; ?>
      p.block-text(data-language="reviews-message-text") <? echo $language['reviews']['message']['text']; ?>
      form.reviews-message

        input(
          type="email"
          name="email"
          data-language="contacts-send-email"
          placeholder!="<? echo $language['contacts-send-email']; ?>"
        )
        .rate
          .title
          .stars
            
        textarea(
          name="message"
          data-language="contacts-send-message"
          placeholder!="<? echo $language['contacts-send-message']; ?>"
        )
        button.send(data-language="contacts-send") <? echo $language['contacts-send']; ?>