:php if(!isset($language)) require_once('../php/language.php'); // Detect active language

.page.translation
  .page-content
    .page-heading
      .page-title
        h1(data-language="translation-title") <? echo $language['translation']['title']; ?>
      .page-image-block
        svg.page-image
          use(xlink:href="#translation")
    p.page-text(data-language="translation-text") <? echo $language['translation']['text']; ?>
    .page-delimiter
    .calculator-block
      h2.block-title(data-language="translation-calculator-title") <? echo $language['translation']['calculator']['title']; ?>
      p.block-text(data-language="translation-calculator-text") <? echo $language['translation']['calculator']['text']; ?>
      form.calculator.translation-calculator
        .small-block.translation-calculator-documents(data-affect="translation-calculator-language")
          :php $i = 0;
          :php foreach($language['translation']['calculator']['documents'] as $document) {
          :php echo '<input type="radio" name="radio" id="radio-'.$i.'" class="calculator-item calculator-radio" '.$document['status'].' value="'.htmlspecialchars(json_encode($language['translation']['calculator']['prices'][$document['price']])).'" />'
          label(
            for!="radio-<? echo $i; ?>"
            data-language!="translation-calculator-documents-<? echo $i; ?>-title"
          )
            span <? echo $document['title']; ?>
          :php $i++
          :php }
        |  
        .translation-calculator-inputs
          .input-wrap
            select.calculator-item.calculator-select.translation-calculator-language
              <? foreach($language['translation']['calculator']['prices']['text'] as $price) { ?>
              option(
                data-price!='<?=htmlspecialchars(json_encode($price[price])); ?>'
                value=''
              ) <? echo $price['title']; ?>
              <? }; ?>
          .input-wrap
            input.calculator-item.calculator-count.calculator-number.translation-calculator-pages(
              type="number"
              value=''
              min="1"
              max="1000000"
              placeholder!="<?=$language['translation']['calculator']['number']?>"
              data-language!="translation-calculator-number"
              data-units!="<?=$language['translation']['calculator']['units']?>"
            )
          .translation-calculator-modificators
            <? $i = 0; ?>
            <? foreach($language['translation']['calculator']['modificators'] as $modificator) { ?>
            .input-wrap
              input.calculator-item.calculator-modificator.calculator-checkbox(
                id!="checkbox-<? echo $i; ?>"
                type="checkbox"
                value!="<?=$modificator['value']?>"
                data-prefix!="<?=$modificator['prefix']?>"
              )
              label(
                for!="checkbox-<? echo $i; ?>"
                data-language!="translation-calculator-modificators-<? echo $i; ?>-title"
              )
                svg
                  use(xlink:href="#check")
                | <? echo $modificator['title']; ?>
                span <? echo $modificator['text']; ?>
            <? $i++; ?>
            <? }; ?>
          .calculator-result-block
            p.result-text(data-language="translation-calculator-result") <? echo $language['translation']['calculator']['result']; ?>
              span.result-prefix
              span.result-value
              span.result-units
      button.call(data-language="common-call") <? echo $language['common']['call']; ?>
