:php if(!isset($language)) require_once('../php/language.php'); // Detect active language

.page.translation
  .page-content
    .page-heading
      .page-title
        h1(data-language="translation-title") <? echo $language['translation']['title']; ?>
      .page-image-block
        svg.page-image
          use(xlink:href="#translation")
    p.page-text(data-language="translation-text") <? echo $language['translation']['text']; ?>
    .page-delimiter
    .calculator-block
      h2.block-title(data-language="translation-calculator-title") <? echo $language['translation']['calculator']['title']; ?>
      p.block-text(data-language="translation-calculator-text") <? echo $language['translation']['calculator']['text']; ?>
      form.calculator.translation-calculator.page-block-wrap
        .page-block.translation-calculator-documents(data-affect="translation-calculator-language")
          :php $i = 0;
          :php foreach($language['translation']['calculator']['documents'] as $document):
          :php echo '<input type="radio" name="radio" id="radio-'.$i.'" class="calculator-item calculator-radio" '.$document['status'].' value="'.htmlspecialchars(json_encode($language['translation']['calculator']['prices'][$document['price']])).'" />'
          label(
            for!="radio-<? echo $i; ?>"
            data-language!="translation-calculator-documents-<? echo $i; ?>-title"
          )
            span <? echo $document['title']; ?>
          :php $i++
          :php endforeach
        |  
        .translation-calculator-inputs.page-block
          .input-wrap
            select.calculator-item.calculator-select.translation-calculator-language
              <? foreach($language['translation']['calculator']['prices']['text'] as $price) { ?>
              option(
                data-price!='<?=htmlspecialchars(json_encode($price[price])); ?>'
                value=''
              ) <? echo $price['title']; ?>
              <? }; ?>
          .input-wrap
            input.calculator-item.calculator-count.calculator-number.translation-calculator-pages(
              type="number"
              value=''
              min="1"
              max="1000000"
              placeholder!="<?=$language['translation']['calculator']['number']?>"
              data-language!="translation-calculator-number"
              data-units!="<?=$language['translation']['calculator']['units']?>"
            )
          .translation-calculator-modificators
            :php $i = 0;
            :php foreach($language['translation']['calculator']['modificators'] as $modificator):
            .input-wrap
              input.calculator-item.calculator-modificator.calculator-checkbox(
                id!="checkbox-<? echo $i; ?>"
                type="checkbox"
                value!="<?=$modificator['value']?>"
                data-prefix!="<?=$modificator['prefix']?>"
              )
              label(
                for!="checkbox-<? echo $i; ?>"
                data-language!="translation-calculator-modificators-<? echo $i; ?>-title"
              )
                svg
                  use(xlink:href="#check")
                | <? echo $modificator['title']; ?>
                span <? echo $modificator['text']; ?>
            :php $i++
            :php endforeach
          .calculator-result-block
            p.result-text(data-language="accountant-calculator-result") <? echo $language['accountant']['calculator']['result']; ?>
            p.result-prefix
            p.result-value
            p.result-units
          a.page-link.call.right(
            href!="<? echo $language['common']['contacts_url']; ?>"
            title!="<? echo $language['common']['order']; ?>"
            data-language="common-order"
          )
            span(data-language="common-order") <? echo $language['common']['order']; ?>
